<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    {% if 'web1' in group_names %}
    <h1>I'm tomato</h1>
    {% endif %}
    {% if 'web2' in group_names  %}
    <h1>I'm potato</h1>
    {% endif %}
</body>
</html>

