<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    {% if inventory_hostname == 'web1' %}
    <h1>I'm tomato</h1>
    <ul>
        <li>nice tomato</li>
        <li>big tomato</li>
        <li>cool tomato</li>
    </ul>
    {% endif %}
    {% if inventory_hostname == 'web2' %}
    <h1>I'm potato</h1>
    <ul>
        <li>nice potato</li>
        <li>big potato</li>
        <li>cool potato</li>
    </ul>
    {% endif %}
</body>
</html>

